.nx-hero {
  position: relative;
  color: #fff;
}

.nx-hero-foreground {
  max-width: var(--se-grid-container-width);
  min-height: var(--nx-hero-min-height, 350px);
  padding-inline: var(--s2-spacing-400);
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
}

.nx-hero-background picture {
  position: absolute;
  inset: 0;
}

.nx-hero-background img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.nx-hero-foreground *:first-child {
  margin-top: 0;
}

.nx-hero-foreground *:last-child {
  margin-bottom: 0;
}
